
.admin {
    overflow: hidden;
    .sidebar {
        height: 100vh;
        width: 250px;
        position: fixed;
        &__logo {
            &__icon {
                width: 40px;
                font-size: 30px;
            }
        }
        &__menu {
            &__li:hover {
                background-color: #6f42c1;
                border-radius: 20px;
            }
        }
    }
}
.form-add-new {
    .mess-err {
        color: red;
        font-style: italic;
        padding-left: 5px;
    }
}
