.cart__banner {
    padding: 80px 0px 80px 0px;
    margin: 60px 0px;
    &__img {
        box-shadow: 0 0 30px 10px #e4e4e4;
        border-radius: 5px;
        width: 80%;
        margin-left: 50px;
    }
    &__text {
        display: block;
        line-height: 2.25rem;
        h1 {
            font-size: 40px;
            font-weight: 700;
        }
        .per-kg {
            opacity: 0.7;
        }
        .price {
            font-size: 30px;
             font-weight: 700;
        }
        p {
            font-size: 15px;
        }
        a {
            margin-top: 20px;
            padding: 10px 25px;
            text-decoration: none;
            color: #F28123;
            border: 2px solid #F28123;
            border-radius: 50px;
            font-size: 19px;
        }
        a:hover {
            background-color: #F28123;
            color: #fff;
        }
    }
}
